<!DOCTYPE html>
<html lang="en">
<head>
    <title>WEB API TEST</title>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="~/Content/myCSS.css" rel="stylesheet" />
</head>
<body id="body">
    <div class="main-content">
        <div>
        <div class="box2">
            <h2>All Products</h2>
            <ul id="products" />
        </div>
        <div class="box2">
            <h3>Search by Category ID and/or Category Name</h3>
            <input type="text" id="categorydId" size="5" />
            <input type="text" id="categoryName" size="10" />
            <input type="button" value="Search" id="FindByCategory" />
            <p id="products" />
        </div>
        <div class="box2">
            <h3>Search by Product ID</h3>
            <input type="text" id="productId" size="5" />
            <input type="button" value="Search" id="FindByID" />
            <h5>Product Name: </h5>
            <input type="text" id="ProductName" />
            <h5>Category ID: </h5>
            <input type="text" id="CategoryID" size="5" />
            <h5>Product Description: </h5>
            <input type="text" id="ProductDescription" />
            <h5>URL Imange: </h5>
            <input type="text" id="url" /><br />
            <input type="button" value="Add" id="AddProduct" />
            <input type="button" value="Update" id="UpdateProduct" />
            <input type="button" value="Delete" id="DeleteProduct" />
        </div>
       </div>
        <div>
            <div class="box2">
                <h2>All Categories</h2>
                <ol id="category" />
                <img id="image" />
            </div>
            <div class="box2">
                <h3>Search by Category ID</h3>
                <input type="text" id="categoriesdId" size="5" />
                <input type="button" value="Search" id="FindCategory" />
                <p id="category" />
            </div>
            <div class="box2">
                <h5>Category Name: </h5>
                <input type="text" id="CategoryName" />
                <h5>Description: </h5>
                <input type="text" id="Description" /><br />
                <input type="button" value="Add" id="AddCategory" />
                <input type="button" value="Update" id="UpdateCategory" />
                <input type="button" value="Delete" id="DeleteCategory" />
            </div>
        </div>
   
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/productscript.js"></script>
    <script src="~/Scripts/categoryscript.js"></script>
  </body>
</html>
